.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h1 Edit Pin
      .panel-body
        %strong.center Current Image
        %br
        = image_tag @pin.image.url(:medium)
        %br
        = render 'form'
      .panel-footer
        = link_to "Cancel", @pin
