/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 body {
 	background: #E9E9E9;
 }
 h1, h2, h3, h4, h5, h6 {
 	font-weight: 100;
 }
 nav {
 	box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.22);
 	.navbar-brand {
 		a {
 			color: #BD1E23;
 			font-weight: bold;
 			&:hover {
 				text-decoration: none;
 			}
 		}
 	}
 }
 #pins {
 	margin: 0 auto;
 	width: 100%;
 	.box {
 		margin: 10px;
 		width: 350px;
 		box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.22);
 		border-radius: 7px;
 		text-align: center;
 		img {
 			max-width: 100%;
 			height: auto;
 		}
 		img:hover {
 			-webkit-transition: all 1s ease; /* Safari and Chrome */
  			-moz-transition: all 1s ease; /* Firefox */
  			-o-transition: all 1s ease; /* IE 9 */
  			-ms-transition: all 1s ease; /* Opera */
  			transition: all 1s ease;
 			-webkit-transform:scale(1.10); /* Safari and Chrome */
    		-moz-transform:scale(1.10); /* Firefox */
    		-ms-transform:scale(1.10); /* IE 9 */
    		-o-transform:scale(1.10); /* Opera */
     		transform:scale(1.10);
     		
 		}
 		h2 {
 			font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
 			font-size: 24px;
 			margin: 0;
 			padding: 25px 10px;
 			a {
 				color: #474747;
 			}
 		}
 		.user {
 			font-size: 12px;
 			border-top: 1px solid #EAEAEA;
 			padding: 15px;
 			margin: 0;
 		}
 	}
 }
 #edit_page {
 	.current_image {
 		img {
 			display: block;
 			margin: 20px 0;
 		}
 	}
 }
 #pin_show {
 	.panel-heading {
 		padding: 0;
 	}
 	.pin_image {
 		img {
 			max-width: 100%;
 			width: 100%;
 			display: block;
 			margin: 0 auto;
 		}
 	}
 	.panel-body {
 		padding: 35px;
 		h1 {
 			margin: 0 0 10px 0;
 		}
 		.description {
 			color: #868686;
 			line-height: 1.75;
 			margin: 0;
 		}
 	}
 	.panel-footer {
 		padding: 20px 35px;
 		p {
 			margin: 0;
 		}
 		.user {
 			padding-top: 8px;
 		}
 	}
 }
 textarea {
 	min-height: 250px;
 }